body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
}

#hero {
  width: 626px;
  margin: 64px auto 32px;
}

#hero img {
  margin-bottom: 32px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  line-height: normal;
  font-weight: normal;
  margin-bottom: 16px;
  color: #3F3D56;
}

h1 span {
  font-weight: bold;
  color: #EE24FF;
  font-family: 'Dosis', sans-serif;
}

p span {
  font-weight: bold;
}

span, a {
  font-family: 'Open Sans', sans-serif;
  color: #3F3D56;
  font-weight: 700;
}

p, footer {
  color: #828282;
  font-size: 15px;
  line-height: normal;
}

#sub {
margin-top: 32px;
margin-bottom: 64px;
}

#footer a + a{
  margin-left: 42px;
}

.line {
  width: 391px;
  height: 0px;
  border: 1px solid #ECEFF2;
  margin: 0 auto 16px;
}

#wave {
  position: static;
  width: 100vw;
  height: 104px;
  bottom: 0px;
  margin-top: 40.83px;
}
